body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  justify-content: center;
}
* {
  box-sizing: content-box;
}
.banner-image {
  flex: 1.5;
  position: relative;
}
.layout {
  display: flex;
  height: 100vh;
}
header {
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  margin: 0;
}

.side-bar {
  flex: 1;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  height: 100%;
}
.side-bar h2 {
  text-align: center;
  margin: 0;
  padding: 0.83em;
}

main {
  flex: 5;
}
.container-box {
  display: flex;
  height: calc(100vh - 111px);
}
.login-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.login-container {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-input {
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s;
}

#login-form {
  max-width: 300px;
}
h1 {
  margin: 0;
}
.btn-submit {
  color: white;
  background: #333;
  width: 100%;
  padding: 15px 0;
  border-radius: 5px;
  margin: 20px 0;
  opacity: 0.9;
  font-weight: 700;
  letter-spacing: 1.2px;
  transition: opacity 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}
.user-label {
  font-weight: 400;
  color: #333;
}
.btn-submit:hover {
  opacity: 1;
}

.login-text {
  color: #333;
}
#error {
  color: red;
  text-align: center;
  margin-top: 10px;
  height: 1rem;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  margin-top: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}
